html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.valid {
    color: #008000;
    border: #008000 1px solid;
}

.invalid {
    color: #ff0000;
    border: #ff0000 1px solid;
}

.message {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #ff0000;
}